{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Breakroom POS</title>
  <link rel="stylesheet" href="{% static 'pos/style.css' %}">
</head>
<body>

<div class="top">
  <img src="{% static 'pos/logo.png' %}" class="logo">
  <div>
    <h1>BREAKROOM POS</h1>
    <p>Choose what customer wants first 👇</p>
  </div>
</div>

<div class="panel">
  <div class="billtag">
    <b>Bill:</b> {{ bill.bill_no }}
    <span class="tag">{{ category }}</span>
    <span class="total">Total: Rs. {{ totals.grand_total }}</span>
  </div>
</div>

<div class="zone-grid">
  <!-- <a class="zone-card" href="{% url 'pos:add_ps5' %}">
    🎮 <h2>PS5 Gaming</h2>
    <p>65” / 55” • Controllers • Auto time</p>
  </a> -->

  <!-- <a class="zone-card" href="{% url 'pos:add_pool' %}">
    🎱 <h2>Pool Table</h2>
    <p>Table 1 / Table 2 • Auto time</p>
  </a> -->
<!-- 
  <a class="zone-card" href="{% url 'pos:add_food' %}">
    🍔 <h2>Food Zone</h2>
    <p>Add snacks & drinks quickly</p>
  </a> -->

  <!-- <a class="zone-card" href="{% url 'pos:add_combo' %}">
    🎁 <h2>Combos</h2>
    <p>Best deals (Food + Gaming)</p>
  </a> -->

  <a class="zone-card wide" href="{% url 'pos:bill_summary' %}">
    🧾 <h2>Billing Zone</h2>
    <p>Edit items, apply discount, mark paid</p>
  </a>
  <a class="zone-card wide" href="{% url 'pos:dashboard' %}">
    📊 <h2>Dashboard</h2>
    <p>Sales, customers, recent updates</p>
  </a>

  <a class="zone-card wide" href="{% url 'pos:membership_dashboard' %}">
    🎟️ <h2>Membership Dashboard</h2>
    <p>View and manage memberships</p>
  </a>
  

  <a class="zone-card wide" href="{% url 'pos:profit_dashboard' %}" >
    📊 <h2>Profit Dashboard</h2>
    <p>View profit and loss reports</p>
  </a>
</div>

</body>
</html>
