body{
  background: radial-gradient(circle at top,#1a1a1a,#050505);
  font-family: Arial, sans-serif;
  color: white;
  padding: 25px;
}
.msgbox{
  background:#1a1a1a;
  padding:10px;
  border-radius:8px;
  margin-bottom:12px;
  border:1px solid #333;
}

.msg{
  color:#ff6666;
  font-weight:bold;
}

.status{
  margin-top:10px;
  font-size:13px;
}

.free{
  color:#33ff88;
  font-weight:bold;
}

.busy{
  color:#ff4444;
  font-weight:bold;
}

.row2{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
}

.row3{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:15px;
}

.foodform{
  display:grid;
  grid-template-columns: 1.5fr 1fr 1fr auto;
  gap:12px;
  align-items:end;
}
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:20px;
}

.brand{
  display:flex;
  gap:15px;
  align-items:center;
}

.logo{
  width:55px;
  height:55px;
}

h1{ color:#f5c400; margin:0; }
p{ margin:0; opacity:0.8; }

.billinfo{
  text-align:right;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:18px;
}

.card{
  background:#0f0f0f;
  padding:18px;
  border-radius:12px;
  box-shadow:0 0 20px rgba(245,196,0,0.12);
}

.card.wide{
  grid-column:span 2;
}

h2{
  color:#f5c400;
  margin-bottom:12px;
}

label{
  display:block;
  margin-top:8px;
  margin-bottom:4px;
  opacity:0.9;
}

input, select{
  width:90%;
  padding:10px;
  background:#151515;
  border:1px solid #333;
  border-radius:7px;
  color:white;
}

.note{
  margin-top:10px;
  font-size:12px;
  opacity:0.7;
}

.btn{
  display:inline-block;
  margin-top:12px;
  padding:10px 15px;
  background:linear-gradient(135deg,#f5c400,#ffdf5e);
  color:black;
  font-weight:bold;
  border-radius:7px;
  text-decoration:none;
  border:none;
  cursor:pointer;
}

.btn:hover{ transform:scale(1.03); }

.btn.dark{
  background:#222;
  color:#f5c400;
}

.btn.pay{
  width:100%;
  margin-top:15px;
}

.billtable{
  width:100%;
  border-collapse:collapse;
}

.billtable th, .billtable td{
  padding:10px;
  border-bottom:1px dashed #333;
  text-align:left;
}

.small{
  width:90px;
  padding:6px;
}

.remove{
  color:red;
  font-size:18px;
  margin-left:10px;
  text-decoration:none;
}

.edit{
  background:#222;
  color:#f5c400;
  border:none;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
}

.summary p{
  display:flex;
  justify-content:space-between;
  padding:5px 0;
  font-size:14px;
}

.summary .grand{
  font-size:18px;
  font-weight:bold;
  color:#f5c400;
}

.actions{
  display:flex;
  gap:10px;
  margin-top:12px;
}
